.footer-main-container{
    /* border: 1px solid red; */
    background-color: #373737;
    color: white;
    font-family: sans-serif;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
.grid-items-in-footer{
    /* border: 1px solid blue; */
    text-align: left;
}
.grid-items-in-footer>div{
    /* border: 1px solid red; */
    margin: auto;
    width: 80%;
    line-height: 2em;
}
.footer-sub-container{
    width: 80%;
    margin: auto
}
.social-media-logos-div{
    display: flex;
    gap: 20px;
}
.social-media-logos-div >img{
    width: 25px;
    height: 25px
}
.top-name-of-sub-contents-in-footer{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color:yellow;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;

}
.black-box-container{
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
    background-color: black;
    color: white;
    padding: 1em;
    position: relative;
    top:5em;
    border-radius: 10px;
}
.black-box-container-logo-{
  
    border: 3px solid rgb(255, 204, 0);
   padding: 1.2em;
   border-radius: 50%;
}
.black-box-container-logo- >img{
    width: 20px;
}
.name-of-logos-in-sub-black-box{
    color: rgb(255, 204, 0) ;
}

@media (max-width: 770px) {
    .black-box-container{
        display: none;
    }

}