.navbar-main-container{
    border: 2px solid red;
    display: flex;
    
    background-color: #373737;
}
.logo-img-div{
    width: 11em;
    /* border: 1px solid blue; */
}
.logo-img-div >img{
width: 11em;
height: 3.7em;
}
.car-select{
    justify-content: center;
    align-items: center;
 
}
.car-select > img{
width: 2em;
align-items: center;
}
.car-select-input{
border: 5px solid white;
justify-content: center;
text-align: center;
align-items: center;
display: flex;
/* padding: 8px; */
background-color: rgb(255, 204, 0);
gap: 1em;
margin: 7px;
padding-right: 5px;
padding-left: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}
.select-tag-in-navbar{
    background-color: rgb(255, 204, 0);

}

.input-search-field{
    padding: .7em;
    width: 40em;
}
.search-bar-div-in-navbar{
    background-color: white;
    border-radius: none;
    margin: 7px;
    margin-left: -6px;
    display: flex;
    
}
