* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.coverl {
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 32em;
    height: 40em;
    position: relative;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.inputs-in-login {
    padding: 10px;
    background-color:#F1F0ED;
    margin-top: 10px;
    border-radius: 5px;
}


.cover2 {
    margin: auto;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 25em;
    height: 10em;
    padding: 20px;
    border-radius: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #efebe9;
}

.bottombox {
    background-color: #efebe9;
    width: 100%;
}

.button:hover {
    background-color: "rgb(255, 204, 0)",

}

.tagline {
    margin: auto;
    justify-content: center;
    text-align: center;
    height: 8em;
    width: 16em;
    justify-content: center;
}

.signup-heading{
  font-size: 3em;  
  color: #373737;

}
.input-heading{
    font-weight:bold;
    color: #373737;
    text-align: left;
    margin-top: 10px;
}

.inputs-in-login:hover{
    background-color: white;
    border:1px solid #F2D6C0;
}

.main_container{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-around;
}

.loginImg-img{
    width: 100%;
    height: 83%;
}


@media (max-width: 1000px) {
    .loginImg{
display: none;
    }
    .cover{
        margin: auto;
    }

}


